<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>

    <mat-card id="card" class="mat-card">
      <mat-card-title>
        Is your password strong enough?
      </mat-card-title>
      <mat-card-content>
        <form class="mat-form" [formGroup]="formPasswordStrength">
          <mat-form-field appearance="outline">
            <mat-label>Type a password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" #passwordInput (keyup)="onKey(passwordInput.value)">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="">
            <mat-progress-bar class="progress-margin" [color]="strengthMeter.color" [mode]="strengthMeter.mode"
              [value]="strengthMeter.value">
            </mat-progress-bar>
          </div>

          <div class="section-result">

            <h2><strong>Your password is <span [ngClass]="{'color-primary': this.passwordStrength.score > 1, 
                'color-warn': this.passwordStrength.score < 2}">{{scoreString}}</span></strong></h2>

            <h3><strong>It will take <span [ngClass]="{'color-primary': this.passwordStrength.score > 1, 
                'color-warn': this.passwordStrength.score < 2}">
                  {{passwordStrength.guessTimeString}}</span> to guess your
                password.
                {{passwordStrength.warning}}</strong></h3>

          </div>

          <mat-list role="list">
            <mat-list-item role="listitem" class="color-accent" *ngFor="let suggestion of passwordStrength.suggestions">
              {{suggestion}}
            </mat-list-item>
          </mat-list>

        </form>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
